@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo{
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#ffffff;
  background-image:
  radial-gradient(at 0% 0%, #ffffff 0, solid 100%), 
   
}

.gradient-bg-home {
  background-color:#088c7f;
}

.btn{
  padding-top: 50%;
  background-color:#ffffff;
}

.btn:hover{
  background-color:#066158;
  color: #ffffff;
  transition: 1s;
}

.login{
  margin-top: 12%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}


.footer{
  margin-top: 1rem;
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #088c7f;
  border-top-width: 2px; 
  border-style: solid;
  border-color:  #07776c; 
    
}

@tailwind base;
@tailwind components;
@tailwind utilities;

